
*.sdf
/GeneratedFiles
*.suo
*.opensdf
*.filters
*.user
*.ilk
*.pdb
*.exe
/Debug
/Release
/ipch
/debug
/release
/Makefile
/Makefile.Release
/Makefile.Debug
*.mosaic
*.jpg
*.JPG
*.psess
*.vsp
*.o
moc_*.cpp
qrc_*.cpp
ui_*.h
QtMosaic.app
